* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

#leaves-img {
    height: 100vh;
}

#odin-logo-img {
    width: 70px;
    height: auto;
    position: absolute;
    top: 215px;
    left: calc(50% - 35px)

}

#image-container {
    position: relative;
}

#positioned-div-image {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: black;
    opacity: 0.6;
    top: 200px;

}

#italic {
    font-style: italic;
}

#form-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 80vh;
    margin-right: 30px;
    margin-left: 30px;
} 

#sub-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

#positioned-div {
    width: 100%;
    height: 26%;
    background-color: white;
    position: absolute;
    left: -20px;
    z-index: -1;
    box-shadow: 0px 4px 2px lightgrey, 0px -1px 1px lightgrey ;
}


h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
}


label {
    display: block;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 2px 5px;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 2px lightgrey;
}

#pair-1, #pair-2, #pair-3 {
    display: flex;
    gap: 80px;
    padding-bottom: 20px;

}

button {
    align-self: flex-start;
    background-color: #596D48;
    padding: 10px 30px; 
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

#login-link {
    color: forestgreen;
}